body {
    margin: 0;
   background-color: #1111;
   padding-bottom: 100px;
   
}

nav {
    background: white;
    overflow: hidden;
    
}

nav  a {
    float: right;
    text-decoration:none;
    outline:none;
    color: grey;
    padding: 20px 20px;
    text-align:center;
}
nav a:hover {
    color: blue;
    text-decoration: none;
}
h2,p{
    margin-left: 20px;
    padding-top: 20px;
}


.container
{
    padding : 5px 40px;
    margin-top: 25px;
    margin-left: 20px;
    align-items: center;
    background-color: white;
}
hr{
    border-top: 2px solid black;
    padding-bottom: 0px;
}
.dropdown{
    position: relative;
}
.btn-default{
    color: blue;
    background-color: #6666;
}
.text1{
    position: absolute;
        top: 250px;
        z-index: 2;
        color: #fff;
        right: 200px;
        padding: 10px 15px;
        text-align:center;
        background: #1E8Bc3;
        display:inline-block;
        width:35%;
        opacity: 0.2;
        
}
.ticket-search {
  position: absolute;
  width: 100%;
  bottom: -170px;
  z-index: 999;
}
.ticket-search .nav-tabs{
  border-bottom: none;
}
.ticket-search .nav-tabs .nav-item{
  margin-bottom: 0px;
}
.ticket-search .nav-tabs .nav-link{
  color: #ffffff;
  border-bottom: none;
  border: none;
  width: 17%;
  text-align: center;

}
.ticket-search .nav-tabs .nav-link:hover,
.ticket-search .nav-tabs .nav-link.active{
  border-bottom: none;
}
.ticket-search .nav-tabs .nav-link.active:hover{
  color: #00abc5;
}
.ticket-search .nav-tabs .nav-link img{
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  margin-right: 10px;
}
.nav-tabs .nav-link.plane,
.nav-tabs .nav-link.train,
.nav-tabs .nav-link.hotel{
  background: #028094;
  border-radius: 0px;
  padding: 12px 16px;
}
.nav-tabs .nav-link.train{
  background: #0099b1;
}
.nav-tabs .nav-link.hotel{
  background: #00abc5;
}
.ticket-search .nav-tabs .nav-link.active img{
  filter: none;
}
.ticket-search .nav-tabs .nav-link:hover{
  color: #ffffff;
}
.nav-tabs .nav-link.active,
.ticket-search .tab-content{
  background: #f8f8f8;
}
.section.tab .nav-tabs .nav-link.active{
  background: #ffffff;
}
.ticket-search .tab-content{
  padding: 20px;
  border-bottom: 3px solid #00abc5;
}
.ticket-search label{
  font-weight: 600;
}
.ticket-search .form-group{
  position: relative;
  margin-bottom: 0px;
}
.ticket-search .form-control,
.ticket-search .custom-select{
  border-radius: 0px;
  border: none;
  font-size: 13px;
  height: 40px;
}
.ticket-search .form-control:hover,
.ticket-search .custom-select:hover{
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.ticket-search input[type="date"]{
  padding: 7px 0px 7px 48px;
  font-size: 12px;
}
.ticket-search .icon{
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 18px;
  color: #00abc5;
}
.ticket-search .fa-calendar.icon{
  color: #808080;
}
.ticket-search .icon-before{
  position: absolute;
  top: 44px;
  left: 8px;
}
.ticket-search .custom-checkbox{
  display: inline-block;
  margin-left: 10px;
}
.ticket-search .form-select{
  display: table-cell;
  padding: 0px 10px;
}
.ticket-search .btn-blue{
  width: 100%;
  border: none;
  border-radius: 0px;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  background: #00abc5;
}
.ticket-search .btn-blue:hover{
  background: #808080;
}
.aplikasi
{
    padding-top: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

}

.aplikasi .judul{
  color: #00abc5;;
  font-weight: 300;
  font-size: 38px;
  margin-bottom: 40px;
}
.aplikasi .layerap{
  margin-top: 100px;
}
.aplikasi .layerap h2{
  font-weight: 500;
  margin-bottom: 30px;
}
.aplikasi .layerap a img.google{
  margin-right: 15px;
}

.popular .row{
  margin-bottom: 20px;
}
.popular .popular-item img{
  width: 100%;
}
.popular .popular-item a{
  display: block;
}

.popular p{
  margin-bottom: 0px;
}
.padding{
  text-align: right;
}
.padding a{
  display: inline-block;
  padding: 5px 18px;
  background: #00abc5;
  color: #ffffff;
  font-size: 12px;
}
.galeri{
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 40px;

}
.title .desc p
{
    margin-top: 50px;   
}
.list-sponsor li
{
  display: inline-block;
  vertical-align: middle;
  margin: 0px 10px 20px;
}
.list-sponsor img
{
    width: 90px;
    height: 35px;
}
.socmed ul{
  text-align: right;
}
.socmed ul li{
  display: inline-block;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-top: 2px;
}
.socmed ul li a{
  color: #808080;
  font-size: 30px;
}
.socmed ul li a.fb:hover{
  color: #1f2b89;
}
.socmed ul li a.tw:hover{
  color: #7ccdef;
}
.socmed ul li a.ig:hover{
  color: #190883;
}
.socmed ul li a.gp:hover{
  color: #ff3e3e;
}
.socmed ul li a.yt:hover{
  color: #d10707;
}
.widget-footer{
  border-top: 1px solid #dbdbdb;
  background-color: #eaeaea;
  padding: 2px 0px;
}
.widget-item h2{
  font-size: 14px;
  border-bottom: 1px solid #333333;
  margin-bottom: 18px;
  padding-bottom: 10px;
  color: #333333;
  font-weight: 600;
  text-transform: uppercase;
  width: 75%;
}
.widget-item p{
  margin-top: 20px;
  font-size: 13px;
  line-height: 24px;
  color: #808080;
}
.widget-item a{
  color: #808080;
  font-size: 13px;
}
.widget-item a:hover{
  color: #00abc5;
  text-decoration: none;
}
.widget-item a i.fa{
  margin-right: 12px;
  font-size: 18px;
  vertical-align: middle;
}
.widget-item a i.fa.fa-circle{
  font-size: 5px;
}
.copyright{
  background: #0099b1;
  color: #ffffff;
  padding: 25px 0px;
}
.copyright p{
  margin-bottom: 0px;
  line-height: 29px;
  font-size: 14px;
}
.copyright img{
  float: right;
}