body {
    margin: 0;
}
nav  b {
    text-decoration:none;
    outline:none;
    color: white;
    padding: 10px 15px;
    text-align:center;
    background:#1E8Bc3;
    display:inline-block;
    width:20%;
}

ul a{
    color: grey;
}
nav a:hover {
    color: blue;
    text-decoration: none;
}
nav b:hover {
    color: #1E8Bc3;
    background-color:white;
    text-decoration: none;
    padding:10 20px;
}
.grid-container
{
    display: grid;
}
.padding
{
    color: white;
    float: right;
}
.pulau img{
        position: relative;
        z-index: 1;
        top: 0px;
    }


.text1{
    position: absolute;
        top: 270px;
        z-index: 2;
        color: #fff;
        right: 200px;
        padding: 10px 15px;
        text-align:center;
        background: #1E8Bc3;
        display:inline-block;
        width:35%;
        opacity: 0.3;
        
}
.ticket-search {
  position: absolute;
  width: 100%;
  bottom: -100px;
  z-index: 999;
}
.ticket-search .nav-tabs{
  border-bottom: none;
}
.ticket-search .nav-tabs .nav-item{
  margin-bottom: 0px;
}
.ticket-search .nav-tabs .nav-link{
  color: #ffffff;
  border-bottom: none;
  border: none;
  width: 17%;
  text-align: center;

}
.ticket-search .nav-tabs .nav-link:hover,
.ticket-search .nav-tabs .nav-link.active{
  border-bottom: none;
}
.ticket-search .nav-tabs .nav-link.active:hover{
  color: #00abc5;
}
.ticket-search .nav-tabs .nav-link img{
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  margin-right: 10px;
}
.nav-tabs .nav-link.plane,
.nav-tabs .nav-link.train,
.nav-tabs .nav-link.hotel{
  background: #028094;
  border-radius: 0px;
  padding: 12px 16px;
}
.nav-tabs .nav-link.train{
  background: #0099b1;
}
.nav-tabs .nav-link.hotel{
  background: #00abc5;
}
.ticket-search .nav-tabs .nav-link.active img{
  filter: none;
}
.ticket-search .nav-tabs .nav-link:hover{
  color: #ffffff;
}
.nav-tabs .nav-link.active,
.ticket-search .tab-content{
  background: #f8f8f8;
}
.section.tab .nav-tabs .nav-link.active{
  background: #ffffff;
}
.ticket-search .tab-content{
  padding: 20px;
  border-bottom: 3px solid #00abc5;
}
.ticket-search label{
  font-weight: 600;
}
.ticket-search .form-group{
  position: relative;
  margin-bottom: 0px;
}
.ticket-search .form-control,
.ticket-search .custom-select{
  border-radius: 0px;
  border: none;
  font-size: 13px;
  height: 40px;
}
.ticket-search .form-control:hover,
.ticket-search .custom-select:hover{
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.ticket-search input[type="date"]{
  padding: 7px 0px 7px 48px;
  font-size: 12px;
}
.ticket-search .icon{
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 18px;
  color: #00abc5;
}
.ticket-search .fa-calendar.icon{
  color: #808080;
}
.ticket-search .icon-before{
  position: absolute;
  top: 44px;
  left: 8px;
}
.ticket-search .custom-checkbox{
  display: inline-block;
  margin-left: 10px;
}
.ticket-search .form-select{
  display: table-cell;
  padding: 0px 10px;
}
.ticket-search .btn-blue{
  width: 100%;
  border: none;
  border-radius: 0px;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  background: #00abc5;
}
.ticket-search .btn-blue:hover{
  background: #808080;
}
.aplikasi
{
    padding-top: 200px;
    padding-left: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.aplikasi .judul{
  color: #00abc5;;
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 40px;
}
.aplikasi .layerap{
  margin-top: 100px;
}
.aplikasi .layerap h2{
  font-weight: 500;
  margin-bottom: 30px;
}
.aplikasi .layerap a img.google{
  margin-right: 15px;
}

.popular
{
  padding: 120px;
  font-size: 20px;
}
.popular .row{
  margin-bottom: 20px;
}
.popular .popular-item img{
  width: 100%;
}
.popular .popular-item a{
  display: block;
}

.popular p{
  margin-bottom: 0px;
}
.padding{
  text-align: right;
}
.padding a{
  display: inline-block;
  padding: 5px 18px;
  background: #00abc5;
  color: #ffffff;
  font-size: 12px;
}
.galeri{
  border-bottom: 1px solid #eaeaea;
}
.sponsor
{
  padding:0px 150px 150px 150px;
}
.title .desc p
{
    margin-top: 50px;   
}
.list-sponsor li
{
  display: inline-block;
  vertical-align: middle;
  margin: 0px 10px 20px;
}
.list-sponsor img
{
    width: 90px;
    height: 35px;
}
.socmed ul{
  text-align: right;
}
.socmed ul li{
  display: inline-block;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-top: 2px;
}
.socmed ul li a{
  color: #808080;
  font-size: 30px;
}
.socmed ul li a.fb:hover{
  color: #1f2b89;
}
.socmed ul li a.tw:hover{
  color: #7ccdef;
}
.socmed ul li a.ig:hover{
  color: #190883;
}
.socmed ul li a.gp:hover{
  color: #ff3e3e;
}
.socmed ul li a.yt:hover{
  color: #d10707;
}
.widget-footer{
  border-top: 1px solid #dbdbdb;
  background-color: #eaeaea;
  padding: 2px 0px;
}
.widget-item h2{
  font-size: 14px;
  border-bottom: 1px solid #333333;
  margin-bottom: 18px;
  padding-bottom: 10px;
  color: #333333;
  font-weight: 600;
  text-transform: uppercase;
  width: 75%;
}
.widget-item p{
  margin-top: 20px;
  font-size: 13px;
  line-height: 24px;
  color: #808080;
}
.widget-item a{
  color: #808080;
  font-size: 13px;
}
.widget-item a:hover{
  color: #00abc5;
  text-decoration: none;
}
.widget-item a i.fa{
  margin-right: 12px;
  font-size: 18px;
  vertical-align: middle;
}
.widget-item a i.fa.fa-circle{
  font-size: 5px;
}
.copyright{
  background: #0099b1;
  color: #ffffff;
  padding: 25px 0px;
}
.copyright p{
  margin-bottom: 0px;
  line-height: 29px;
  font-size: 14px;
}
.copyright img{
  float: right;
}

body{
  background-color: #f8f8f8 !important;
}
ul.list-unstyled,
ul.list-unstyled-coin{
  display: inline-block;
  color: #ffffff;
  padding-left: 0px;
}
ul.list-unstyled i,
ul.list-unstyled-coin i{
  position: absolute;
  right: 5px;
  top: 7px;
  color: #838383;
  font-size: 12px;
}
ul.list-unstyled li,
ul.list-unstyled-coin li {
  padding: 5px 5px;
  z-index: 2;
  position: relative;
  font-size: 12px;
}
ul.list-unstyled li::after,
ul.list-unstyled-coin li::after {
  content: none;
}
ul.list-unstyled li.init,
ul.list-unstyled-coin li.init {
  padding: 0px 5px;
  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
  color: #838383;
}
ul.list-unstyled li:not(.init),
ul.list-unstyled-coin li:not(.init) {
  width: 100%;
  display: none;
  background: #ffffff;
  position: absolute;
  text-align: left;
  color: #404040;
  border: 1px solid #dddd;
}
ul.list-unstyled li:not(.init).ina,
ul.list-unstyled-coin li:not(.init).ina {
  top: 25px;
}
ul.list-unstyled li:not(.init).eng,
ul.list-unstyled-coin li:not(.init).eng {
  top: 56px;
}
ul.list-unstyled li:not(.init):hover,
ul.list-unstyled-coin li:not(.init):hover,
ul.list-unstyled li.selected:not(.init),
ul.list-unstyled-coin li.selected:not(.init) {
  background: #dfe0ff;
  cursor: pointer;
}
ul.list-unstyled li.init,
ul.list-unstyled-coin li.init {
  cursor: pointer;
}
ul.list-unstyled-coin {
  list-style: none;
}
ul.list-unstyled li::after,
ul.list-unstyled-coin li::after {
  content: none !important;
}

body{
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.container{
  max-width: 1160px;
  padding-left: 10px;
  padding-right: 10px;
}
.container.menu__head{
  max-width: 1330px;
}
.row{
  margin-left: -10px;
  margin-right: -10px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
.col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4,
.col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
  padding-left: 10px;
  padding-right: 10px;
}
.alert-dismissible {
  padding-right: 2.5rem;
}
.dropdown-toggle::after{
  content: none;
}
.btn:hover{
  background-color: #808080;
}
.btn-blue{
  background: #00abc5;
  font-size: 15px;
  color: #ffffff;
  font-weight: 600;
  padding: 6px 20px;
  height: 40px;
}
.btn-solid{
  border-radius: 0px;
}
.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

header{
  background-color: #fafafa;
  border-top: 3px solid #00acc4;
  color: #838383;
}
header nav.bg-light{
  padding: 16px 0px;
  -webkit-box-shadow: 0px 4px 3px 0px rgba(221,221,221,0.63);
  -moz-box-shadow: 0px 4px 3px 0px rgba(221,221,221,0.63);
  box-shadow: 0px 4px 3px 0px rgba(221,221,221,0.63);
}
header ul.navbar-nav {
  display: block;
  text-align: right;
}
header ul.navbar-nav li{
  display: inline-block;
  position: relative;
}
header ul.navbar-nav li::after{
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  background: #bcbcbc;
}
header ul.navbar-nav li.lang::after,
header ul.navbar-nav li.init::after{
  content: none;
}
header ul.navbar-nav li a{
  color: #838383 !important;
  padding: 0px 13px !important;
  font-size: 13px;
}
header ul.navbar-nav li a:hover{
  color: #00abc5 !important;
}
header ul.navbar-nav li.lang{
  padding-right: 12px;
}
header ul.navbar-nav li.nav-item .fa{
  font-size: 20px;
  vertical-align: text-bottom;
  margin-right: 5px;
}
a{
  color: #808080;
}
a:hover{
  color: #00abc5;
  text-decoration: none;
}
.section{
  padding-bottom: 40px;
  padding-top: 40px;
}
h2.section-title{
  font-size: 22px;
  font-weight: 600;
}
.mb-10{
  margin-bottom: 35px !important;
}

/* MENU */
.nav-item .dropdown-menu{
  min-width: 327px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.8);
  -moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.8);
  box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.8);
  border: none;
  padding-bottom: 0px;
  top: 35px;
}
.nav-item .dropdown-menu.register{
  min-width: 380px;
}
.nav-item .dropdown-menu::before{
  content: '';
  width: 0;
    height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
  display: inline-block;
  position: absolute;
  top: -9px;
  left: 30px;
}
.nav-item .dropdown-menu.register::before{
  left: unset;
  right: 20px;
}
.nav-item .dropdown-menu h3{
  font-size: 16px;
  padding: 10px 20px 15px;
  font-weight: 600;
  border-bottom: 1px solid #bbbbbb;
}
.form-login{
  padding: 10px 20px;
}
.form-login label{
  font-size: 13px;
}
.form-login a.forgot{
  float: right;
  color: #00abc5 !important;
}
.form-login a.forgot .fa,
.form-login .reg a .fa{
  font-size: 14px !important;
  vertical-align: inherit !important;
}
.form-login button.btn-blue,
.form-login button.btn-blue{
  background: #00abc5;
  font-size: 15px;
  color: #ffffff;
  font-weight: 600;
  padding: 6px 20px;
  height: 40px;
}
.form-login .button button.btn-blue:hover{
  background: #808080;
}
.form-login .reg{
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}
.form-login .reg p.ask{
  font-size: 13px;
  margin-bottom: 0px;
  line-height: 14px;
  color: #808080;
}
.form-login .reg a{
  padding: 0px !important;
  color: #00abc5 !important;
}
.other-log{
  background: #f8f8f8;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px 20px;
  text-align: center;
}
.other-log p{
  font-size: 13px;
  margin-bottom: 7px;
}
.other-log button{
  width: 40%;
  height: 32px;
  padding: 0px;
  font-size: 13px;
  color: #ffffff;
}
.other-log button.btn-google{
  background: #d6492f;
}
.other-log button.btn-facebook{
  background: #3b5998;
}
.dropdown-menu.register input{
  margin-right: 15px;
  width: 65%;
  font-size: 13px;
  height: 40px;
}
.dropdown-menu.register button{
  font-weight: 600;
}
.dropdown-menu.register .form-login a.forgot{
  float: none;
}
.dropdown-menu.register .other-log.form-login{
  background-color: #dbf7fb;
  color: #808080;
}
.dropdown-menu.register .other-log.form-login p{
  margin-bottom: 0px;
}
.bg-white{
  background: #ffffff;
}
.other-log.bg-white a{
  color: #00abc5 !important;
  padding: 0px !important;
}
.dropdown-menu.register .other-log.account-first{
  border-bottom: 1px solid #bcbcbc;
  border-radius: 0px;
  padding: 10px;
}
.dropdown-menu.register .other-log.account-second{
  padding: 10px;
}
.dropdown-menu.register .other-log.account-first a,
.dropdown-menu.register .other-log.account-second a{
  display: block;
}
.dropdown-menu.register .other-log.account-first a img,
.dropdown-menu.register .other-log.account-second a img{
  margin-right: 10px;